.section {
  &--customer-reviews {
    padding-bottom: 170px;
    padding-top: 80px;
  }
  &__title {
    margin: 0;
    font-family: $brand_font;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
    line-height: 1.15;
    color: $brand_color;

    &--products {
      padding-bottom: 31px;
    }
  }

  &__subtitle {
    @extend .section__title;
    margin-bottom: 15px;
    font-size: 18px;
    color: $label_color;
    &--products {
      margin-top: 121px;
    }
  }
}

@media (min-width: 768px) {
  .section {
    &--customer-reviews {
      padding-bottom: 197px;
      padding-top: 121px;
    }
    &__title {
      font-size: 48px;
      line-height: 1.145;

      &--products {
        padding-bottom: 20px;
      }
    }
    &__subtitle {
      margin-bottom: 16px;
      font-size: 26px;
      line-height: 1.13;
      &--products {
        margin-top: 122px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .section {
    &--customer-reviews {
      padding-bottom: 234px;
      padding-top: 123px;
    }
    &__title {
      font-size: 58px;
      line-height: 1.137;
      &--products {
        padding-bottom: 100px;
      }
    }
    &__subtitle {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 1.15;
      &--products {
        margin-top: 127px;
      }
    }
  }
}
