.section {
  &__title {
    margin: 0;
    font-family: 'Titan One';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
    line-height: 1.15;
    color: $brand_color;
    
      &--products {
        padding-bottom: 31px;
      }
  }

  &__subtitle {
    @extend .section__title;
    margin-bottom: 15px;
    font-size: 18px;
    color: $label_color;
  }
  &--customer-reviews {
    padding-bottom: 170px;
    padding-top: 80px;
  }
}

@media(min-width: 768px) {
  .section {
    &__title {
      font-size: 48px;
      line-height: 1.145;

        &--products {
          padding-bottom: 20px;
        }
    }
  }
}

@media(min-width: 1280px) {
  .section {
      &__title {
        font-size: 58px;
        line-height: 1.137;
        
          &--products {
            padding-bottom: 100px;
          }
      }
  }
}