@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.button {
  padding-left: 37px;
  padding-right: 37px;
  background-color: #ffffff;
  border-radius: 22px;
  border: 0px;
  height: 44px;
  cursor: pointer;
}

.button__font {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #d41443;
}

body {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 1200px;
}

.section__title, .section__subtitle, .about__subtitle, .about__title {
  margin: 0;
  font-family: 'Titan One';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
  line-height: 1.15;
  color: #d41443;
}

.section__subtitle, .about__subtitle {
  margin-bottom: 15px;
  font-size: 18px;
  color: #ffa5ba;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  padding-top: 125px;
  background-color: #fff5f6;
  background-image: url("../images/milk_bg_left.png"), url("../images/milk_bg_right.png");
  background-size: auto 108px;
  background-repeat: no-repeat;
  background-position: left bottom 75px, right bottom 75px;
}

.about__header {
  margin: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  font-size: 12px;
  color: #000000;
  margin-bottom: 47px;
}

.about__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  margin-bottom: 17px;
}

.about__img-mobile {
  margin-top: 26px;
  margin-bottom: 46px;
}

.about__img-tablet {
  display: none;
}

.about__img-desktop {
  display: none;
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__button_icon {
  margin-left: 15px;
}

.about__container {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about {
    background-image: none;
    padding-top: 130px;
  }
  .about__title {
    font-size: 48px;
    margin-bottom: 100px;
  }
  .about__subtitle {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .about__header {
    font-size: 14px;
    line-height: 176%;
  }
  .about__description {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }
  .about__container {
    display: flex;
    justify-content: center;
  }
  .about__img-mobile {
    display: none;
  }
  .about__img-tablet {
    margin-top: -50px;
    margin-right: 17px;
    display: block;
    min-width: 340px;
    flex-basis: calc(100% / 2);
  }
  .about__text {
    flex-basis: calc(100% / 2);
    min-width: 340px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/milk_bg_left@x2.png"), url("../images/milk_bg_right@x2.png");
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 125px;
    background-image: url("../images/milk_bg_desktop_left.png"), url("../images/milk_bg_desktop_right.png");
    background-size: auto 433px;
  }
  .about__img-mobile {
    display: none;
  }
  .about__container {
    display: flex;
    justify-content: center;
  }
  .about__title {
    font-size: 58px;
    margin-bottom: 106px;
  }
  .about__subtitle {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .about__header {
    letter-spacing: 0.04em;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .about__description {
    font-size: 16px;
    margin-bottom: 45px;
  }
  .about__text {
    flex-basis: calc(100% / 2);
    min-width: 463px;
    margin-right: 117px;
  }
  .about__img-tablet {
    display: none;
  }
  .about__img-desktop {
    margin-top: -47px;
    margin-right: 74px;
    display: block;
    min-width: 516px;
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/milk_bg_desktop_left@x2.png"), url("../images/milk_bg_desktop_right@x2.png");
  }
}
/*# sourceMappingURL=main.css.map */