<div class="advantages">
  <div class="container">
    <h1 class="advantages__header">Advantages</h1>

    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" width="33" height="50">
          <use href="/images/icons-advantages.svg#icon-milk-advantages"></use>
        </svg>
        <h3 class="advantages__value">721</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <svg class="advantages__icon" width="50" height="50">
          <use href="/images/icons-advantages.svg#icon-fruit-advantages"></use>
        </svg>
        <h3 class="advantages__value">16KG</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <svg class="advantages__icon" width="44" height="50">
          <use href="/images/icons-advantages.svg#icon-heart-advantages"></use>
        </svg>
        <h3 class="advantages__value">84</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</div>
