<div class="advantages">
  <div class="advantages__container">
    <h1 class="advantages__header">Advantages</h1>

    <ul class="advantages__list">
      <li class="advantages__item" data-alt-pseudo="milk">
        <h3 class="advantages__value">721</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item" data-alt-pseudo="fruits">
        <h3 class="advantages__value">16KG</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item" data-alt-pseudo="heart">
        <h3 class="advantages__value">84</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</div>
