  <!------------ CONTACTS ---------->

<section class="section-contacts container-contacts">
    <h1 class="contacts__hidden-header">Contacts</h1>
<div class="contacts">
    <div class="contacts-container">
        <div class="contacts-header">
            <span class="contacts-header__title contacts-header__title--bg-cafe"> CAFE </span>
            <p class="contacts-header__main-title">Chicago</p>
            <p class="contacts-header__undertitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-availability">
            <div class="contacts-availability__day">Monday - Friday</div>
                <span class="contacts-availability__time">06:00 AM - 10:00 PM</span>
            <div class="contacts-availability__day">Saturday - Sunday</div>
                <span class="contacts-availability__time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts-address">
        <ul class="contacts-address__list">
            <li class="contacts-address__item">
                <a class="contacts-address__link-telephone" href="tel:+61(0)383766284">
                +61(0) 383 766 284
                </a>
            </li>  
            <li class="contacts-address__item">
            <a class="contacts-address__link-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
            </a>
            </li>
        </ul>
        </div>
    </div>

    <div class="contacts-container">
        <div class="contacts-header">
            <span class="contacts-header__title contacts-header__title--bg-foodtruck"> FOODTRUCK </span>
            <p class="contacts-header__main-title">Los Angeles</p>
            <p class="contacts-header__undertitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-availability">
            <div class="contacts-availability__day">Monday - Friday</div>
                <span class="contacts-availability__time">06:00 AM - 10:00 PM</span>
            <div class="contacts-availability__day">Saturday - Sunday</div>
                <span class="contacts-availability__time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts-address">
        <ul class="contacts-address__list">
            <li class="contacts-address__item">
                <a class="contacts-address__link-telephone" href="tel:+61(0)383766284">
                +61(0) 383 766 284
                </a>
            </li>  
            <li class="contacts-address__item">
            <a class="contacts-address__link-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
            </a>
            </li>
        </ul>
        </div>
    </div>

    <div class="contacts-container">
        <div class="contacts-header">
            <span class="contacts-header__title contacts-header__title--bg-cafe"> CAFE </span>
            <p class="contacts-header__main-title">New York</p>
            <p class="contacts-header__undertitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-availability">
            <div class="contacts-availability__day">Monday - Friday</div>
                <span class="contacts-availability__time">06:00 AM - 10:00 PM</span>
            <div class="contacts-availability__day">Saturday - Sunday</div>
                <span class="contacts-availability__time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts-address">
        <ul class="contacts-address__list">
            <li class="contacts-address__item">
                <a class="contacts-address__link-telephone" href="tel:+61(0)383766284">
                +61(0) 383 766 284
                </a>
            </li>  
            <li class="contacts-address__item">
            <a class="contacts-address__link-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
            </a>
            </li>
        </ul>
       </div>
    </div>

    <div class="contacts-container-button">
        <div class="contacts-button">
            <button class="contacts-button__locations" type="button">Our Locations</button>
            <button class="contacts-button__franchise" type="button">Franchise</button>
        </div>
    </div>

</div>
</section>

 <!------------ CONTACTS ---------->
