  <!------------ CONTACTS ---------->

<section class="section-contacts container-contacts">
    <h1 class="contacts__hidden-header">Contacts</h1>
<div class="contacts">
    <div class="contacts-container">
        <div class="contacts-header">
            <span class="contacts-header__title contacts-header__title--bg-cafe"> CAFE </span>
            <p class="contacts-header__main-title">Chicago</p>
            <p class="contacts-header__undertitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-availability">
            <div class="contacts-availability__day">Monday - Friday</div>
                <span class="contacts-availability__time">06:00 AM - 10:00 PM</span>
            <div class="contacts-availability__day">Saturday - Sunday</div>
                <span class="contacts-availability__time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts-address">
        <ul class="contacts-address__list">
            <li class="contacts-address__item">
                <a class="contacts-address__link-telephone" href="tel:+61(0)383766284">
                +61(0) 383 766 284
                </a>
            </li>  
            <li class="contacts-address__item">
            <a class="contacts-address__link-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
            </a>
            </li>
        </ul>
        </div>
    </div>

    <div class="contacts-container">
        <div class="contacts-header">
            <span class="contacts-header__title contacts-header__title--bg-foodtruck"> FOODTRUCK </span>
            <p class="contacts-header__main-title">Los Angeles</p>
            <p class="contacts-header__undertitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-availability">
            <div class="contacts-availability__day">Monday - Friday</div>
                <span class="contacts-availability__time">06:00 AM - 10:00 PM</span>
            <div class="contacts-availability__day">Saturday - Sunday</div>
                <span class="contacts-availability__time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts-address">
        <ul class="contacts-address__list">
            <li class="contacts-address__item">
                <a class="contacts-address__link-telephone" href="tel:+61(0)383766284">
                +61(0) 383 766 284
                </a>
            </li>  
            <li class="contacts-address__item">
            <a class="contacts-address__link-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
            </a>
            </li>
        </ul>
        </div>
    </div>

    <div class="contacts-container">
        <div class="contacts-header">
            <span class="contacts-header__title contacts-header__title--bg-cafe"> CAFE </span>
            <p class="contacts-header__main-title">New York</p>
            <p class="contacts-header__undertitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-availability">
            <div class="contacts-availability__day">Monday - Friday</div>
                <div class="contacts-availability__time">06:00 AM - 10:00 PM</div>
            <div class="contacts-availability__day">Saturday - Sunday</div>
                <div class="contacts-availability__time">08:00 AM - 16:00 PM</div>
        </div>

        <div class="contacts-address">
        <ul class="contacts-address__list">
            <li class="contacts-address__item">
                <a class="contacts-address__link-telephone" href="tel:+61(0)383766284">
                +61(0) 383 766 284
                </a>
            </li>  
            <li class="contacts-address__item">
            <a class="contacts-address__link-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
            </a>
            </li>
        </ul>
       </div>
    </div>

        <div class="contacts-button">
            <button class="contacts-button__locations" type="button">Our Locations
                <svg class="contacts-button__locations-ico">
                    <use href="./images/sprite/sprite.svg#icon-go"></use>
                </svg>
            </button>
            <button class="contacts-button__franchise" type="button">Franchise
                <svg class="contacts-button__franchise-ico">
                    <use href="./images/sprite/sprite.svg#icon-go"></use>
                </svg>
            </button>
        </div>

</div>
</section>

 <!------------ CONTACTS ---------->

 <section class="footer">
    <div class="container-footer">
    <div class="footer__subtitle">HOMEMADE ICE CREAM MADE</div>
    <div class="footer__title">WITH PASSION</div>

    <div class="footer__icons">
        <ul class="footer__icons-list">
            <li class="footer__icons-item">
                <a class="footer__icons-link" href="#">
                <svg class="footer__icons-img">
                    <use href="/images/sprite/sprite.svg#icon-GitHub"></use>
                </svg>
                </a>
            </li>
            <li class="footer__icons-item">
                <a class="footer__icons-link" href="#">
                <svg class="footer__icons-img">
                    <use href="./images/sprite/sprite.svg#icon-telegram"></use>
                </svg>
                </a>
            </li>
            <li class="footer__icons-item">
                <a class="footer__icons-link" href="#">
                <svg class="footer__icons-img">
                    <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
 </section>