<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="./images/customers_reviews/customer1.png" style="width:100%">
      <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</div>
    </div>
  
    <div class="mySlides fade">
      <img src="./images/customers_reviews/customer2.png" style="width:100%">
      <div class="text">Very tasty, better than Gessler's</div>
    </div>
  
    <div class="mySlides fade">
      <img src="./images/customers_reviews/customer3.png" style="width:100%">
      <div class="text">I feel like I'm addicted</div>
    </div>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>