
 <section class="footer" id="footer">
    <div class="container-footer"> 

        <div class="container-footer-left">
    <div class="footer__subtitle">HOMEMADE ICE CREAM MADE</div>
    <div class="footer__title">WITH PASSION</div>
        </div>

        <div class="container-footer-right"> 
    <div class="footer__icons">
        <ul class="footer__icons-list">
            <li class="footer__icons-item">
                <a class="footer__icons-link" href="https://github.com/">
                <svg class="footer__icons-img">
                    <use href="./images/sprite/sprite.svg#icon-GitHub"></use>
                </svg>
                </a>
            </li>
            <li class="footer__icons-item">
                <a class="footer__icons-link" href="https://telegram.org/">
                <svg class="footer__icons-img footer__icons-img--telegram">
                    <use href="./images/sprite/sprite.svg#icon-telegram"></use>
                </svg>
                </a>
            </li>
            <li class="footer__icons-item">
                <a class="footer__icons-link" href="https://facebook.com">
                <svg class="footer__icons-img">
                    <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                </svg>
                </a>
            </li> 
        </ul>
        </div>

    <div class="footer-contacts">Feel free to contact
        <a class="footer-contacts__number" href="tel:+61(0)383766284">
            +61(0) 383 766 284
        </a>
    </div>
</div>
</div>
 </section> 

<section class="footer-footer">
    <div class="footer-footer__all-rights-reserved">
        © 2019 - IceCream. All Rights Reserved.
    </div>
</section>  