<section class="gallery" id="gallery">
<img
class="gallery__image"
src="./images/gallery/mobile/gallery-320x122@1x.jpg"
srcset="
./images/gallery/mobile/gallery-320x122@1x.jpg 320w,
./images/gallery/mobile/gallery-640x244@2x.jpg 640w,
./images/gallery/tablet/gallery-768x264@1x.jpg 768w,
./images/gallery/tablet/gallery-1536x528@2x.jpg 1536w,
./images/gallery/desktop/gallery-1280x430@1x.jpg 1280w,
./images/gallery/desktop/gallery-2560x860@2x.jpg 2560w"
sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px"/>
</section>