<header class="hero-header">
  <!------------ B A C K G R O U N D ---------->  
  <div class="hero-header__ice-cream-container">
    <img
      src="images/hero-header/mobile/slider_ice_cream-mobile@1x.png"
      srcset="images/hero-header/mobile/slider_ice_cream-mobile@1x.png 171w,
              images/hero-header/tablet/slider_ice_cream-tablet@1x.png 143w,
              images/hero-header/desktop/slider_ice_cream-desktop@1x.png 236w      
      "
      sizes="(min-width: 1999px) 236px, (min-width: 768px) 143px, (min-width: 480px) 171px"
      class="hero-header__ice-cream-image"
    />
  </div>
  <!------------ H E A D I N G ---------->
  <div class="hero-header__heading container">
    <!------------ L O G O ---------->
    <div class="hero-header__logo"><img src="images/hero-header/mobile/logo@1x.png" /></div>
    <!------------ N A V I G A T I O N ---------->
    <nav>
      <ul class="hero-header__nav-list">
        <li class="hero-header__nav-item ">Home</li>
        <li class="hero-header__nav-item">About us</li>
        <li class="hero-header__nav-item">How it's made?</li>
        <li class="hero-header__nav-item">Our products</li>
        <li class="hero-header__nav-item hero-header__nav-item--right">Contact</li>
      <ul>
    </nav>
    <!------------ B U T T O N S ---------->
    <div class="hero-header__buttons">
    <!------------ B U R G E R ---------->
     <div class="hero-header__burger">
       <button
         class="hero-header__burger-button menu-toggle js-open-menu"
         aria-expanded="false"
         aria-controls="mobile-menu"
       >
         <svg class="" width="20" height="12">
           <use href="/images/icons-hero-header.svg#icon-burger"></use>
         </svg>
       </button>
     </div>
     <!------------ B U Y  N O W ---------->
     <button class="buy-now-button buy-now-button--hidden">
       Buy now<svg class="buy-now-button__icon" width="10" height="10">
         <use href="/images/icons-hero-header.svg#icon-arrow-button"></use>
       </svg>
     </button>
    </div>
  </div>

  <!------------ C O N T E N T ----------> 
  <div class="hero-header__content-container container">
    <!------------ F I R S T ---------->
    <div class="hero-header__first-content-container">
      <!------------ T I T L E ---------->
      <h1 class="hero-header__title">
        ICE CREAM<br />
        MADE WITH<br /><span class="hero-header__title--big">PASSION</span>
      </h1>
      <!------------ B U T T O N S ---------->
      <div class="hero-header__buttons-container">
        <button class="hero-header__button hero-header__button--pink-theme">Products</button>
        <button class="hero-header__button hero-header__button--white-theme">How it's made?</button>
      </div>
      <!------------ M I L K ---------->
      <div class="hero-header__milk-container">
        <img 
          src="/images/hero-header/tablet/milk-tablet@1x.png" 
          srcset="/images/hero-header/tablet/milk-tablet@1x.png  124w,
                  /images/hero-header/desktop/milk-desktop@1x.png 188w
                  "
          sizes="(min-width: 1999px) 188px, (min-width: 768px) 124px"  
          class="hero-header__milk-image"             
            />
        <p class="hero-header__milk-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          <img src="/images/hero-header/tablet/arrow-right-tablet@1x.png"
               srcset="/images/hero-header/tablet/arrow-right-tablet@1x.png   18w,
                       /images/hero-header/desktop/arrow-right-desktop@1x.png 26w          
               "
               sizes="(min-width: 1999px) 26px, (min-width: 768px) 18px" 
               class="hero-header__milk-arrow-img"    
          />
        </p>
      </div>
    </div>
    <!------------ S E C O N D ----------> 
    <div class="hero-header__second-content-container">
      <!------------ N U M B E R S ----------> 
      <p class="hero-header__numbers">16</p>
      <p class="hero-header__numbers-text">cafes</p>
      <p class="hero-header__numbers">23</p>
      <p class="hero-header__numbers-text">food trucks</p>
      <!------------ G I R L ---------->
      <img src="/images/hero-header/tablet/girl-tablet@1x.png"
           srcset="/images/hero-header/tablet/girl-tablet@1x.png   168w, 
                   /images/hero-header/desktop/girl-desktop@1x.png 293w
            "
           sizes="(min-width: 1999px) 293px, (min-width: 768px) 168px"
           class="hero-header__girl-img" 
       />
    </div>
  </div> 
</header>

<!------------ M O B I L E  M E N U ---------->
  <div class="mobile-menu-container js-menu-container" id="mobile-menu">
    <button class="js-close-menu mobile-menu-container__close-btn">
      <svg class=" " width="14" height="14">
        <use href="/images/icons-hero-header.svg#icon-close"></use>
      </svg>
    </button>
    <button class="buy-now-button buy-now-button--tablet-width">
      Buy now<svg class="buy-now-button__icon" width="10" height="10">
        <use href="/images/icons-hero-header.svg#icon-arrow-button"></use>
      </svg>
    </button>
    <ul class="hero-header__nav-list-mobie">
      <li class="hero-header__nav-item-mobile">Home</li>
      <li class="hero-header__nav-item-mobile">About us</li>
      <li class="hero-header__nav-item-mobile">How it's made?</li>
      <li class="hero-header__nav-item-mobile">Our products</li>
      <li class="hero-header__nav-item-mobile">Contact</li>
    </ul>
  </div>
</header>
