<!-- PRODUCTS START -->
<section id="products" class="products container">
<!-- TITLES -->
  <p class="section__subtitle section__subtitle--products">100% natural</p>
  <h2 class="section__title section__title--products">products</h2>
<!-- LIST START -->
  <ul class="products__list">
<!-- ICE CREAM -->
    <li class="products__item">
      <div class="products__area products__area--icecream">
        <div class="products__about products__about--icecream">
          <h3 class="products__label">ice cream</h3>
          <span class="products__dotline"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button type="button" class="products__btn" href="">
          <svg class="products__arrow">
            <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </li>
<!-- ICE COFFEE -->
    <li class="products__item">
      <div class="products__area products__area--icecoffe">
        <div class="products__about products__about--icecoffee">
          <h3 class="products__label">ice coffee</h3>
          <span class="products__dotline"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button type="button" class="products__btn" href="">
          <svg class="products__arrow">
            <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </li>
<!-- MILKSHAKES -->
    <li class="products__item">
      <div class="products__area products__area--milkshakes">
        <div class="products__about products__about--milkshakes">
          <h3 class="products__label">milkshakes</h3>
          <span class="products__dotline"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button type="button" class="products__btn" href="">
          <svg class="products__arrow">
            <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
<!-- LIST END -->
</section>
<!-- PRODUCTS END -->