<section class="products container">
  <h3 class="products__undertitle">100% natural</h3>
  <h2 class="section__title section__title--products">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <img
        class="products__pic"
        src="./images/products/mobile/product1-mobile-249x252-1x.png"
        srcset="
          ./images/products/mobile/product1-mobile-249x252-1x.png   249w,
          ./images/products/mobile/product1-mobile-498x504@2x.png   498w,
          ./images/products/tablet/product1-tablet-220x226-1x.png   220w,
          ./images/products/tablet/product1-tablet-440x452@2x.png   440w,
          ./images/products/desktop/product1-desktop-335x335-1x.png 335w,
          ./images/products/desktop/product1-desktop-670x670@2x.png 670w
        "
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px"
      />
      <div class="products__area">
        <div class="products__about">
          <h3 class="products__label">ice cream</h3>
          <span class="dotline dotline--products"></span>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
      </div>
    </li>
    <li class="products__item">
      <img
        class="products__pic"
        src="./images/products/mobile/product2-mobile-249x252-1x.png"
        srcset="
          ./images/products/mobile/product2-mobile-249x252-1x.png   249w,
          ./images/products/mobile/product2-mobile-498x504@2x.png   498w,
          ./images/products/tablet/product2-tablet-220x226-1x.png   220w,
          ./images/products/tablet/product2-tablet-440x452@2x.png   440w,
          ./images/products/desktop/product2-desktop-335x335-1x.png 335w,
          ./images/products/desktop/product2-desktop-670x670@2x.png 670w
        "
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px"
      />
      <h3 class="products__label">ice coffee</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
    <li class="products__item">
      <img
        class="products__pic"
        src="./images/products/mobile/product3-mobile-249x252-1x.png"
        srcset="
          ./images/products/mobile/product3-mobile-249x252-1x.png   249w,
          ./images/products/mobile/product3-mobile-498x504@2x.png   498w,
          ./images/products/tablet/product3-tablet-220x226-1x.png   220w,
          ./images/products/tablet/product3-tablet-440x452@2x.png   440w,
          ./images/products/desktop/product3-desktop-335x335-1x.png 335w,
          ./images/products/desktop/product3-desktop-670x670@2x.png 670w
        "
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px"
      />
      <h3 class="products__label">milkshakes</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
</section>
