.button {
  padding-left: 37px;
  padding-right: 37px;
  background-color: $bright_color;
  border-radius: 22px;
  border: 0px;
  height: 44px;
  cursor: pointer;

  &__font {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: $brand_color;
  }

  &:hover {
    background-color: $hover-button_color;
  }
}
