.buy-now-button {
  font-family: $body_font;
  color: $brand_color;
  background-color: $bright_color;
  font-size: 16px;
  border-radius: $body_button;
  font-weight: $bold_weight;
  border: none;
  cursor: pointer;
  width: 209px;
  height: 44px;

  &__icon {
    margin-left: 14px;
  }

  &--hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buy-now-button {
    width: 160px;
    height: 44px;

    &--hidden {
      display: inline;
    }
  }
}
