.dotline {
    display: block;
    border-radius: $circle;
    margin: 0 auto;
    position: relative;
        &--customer-reviews {
            width: 4px;
            height: 4px;
            background: $hover-button_color;
            &::before {
                content: "";
                display: block;
                position: absolute;
                right: 10px;
                width: 4px;
                height: 4px;
                border-radius: $circle;
                background: $hover-button_color;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 10px;
                width: 4px;
                height: 4px;
                border-radius: $circle;
                background: $hover-button_color;
            }
        }
}