.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $menu-mobile_color;
  z-index: 999;
  padding: 60px 21px 0 21px;
  transform: translateX(100%);

  &.is-open {
    transform: translateX(0);
  }

  &__close-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    top: 23px;
    right: 28px;

    &:active,
    &:focus,
    &:hover {
      fill: var(--brand-main-color);
    }
  }

  &__list {
    list-style-type: none;
    margin-top: 19px;
  }

  &__item {
    font-size: 16px;
    line-height: 18px;
    font-family: $body_font;
    font-weight: $bold_weight;
    color: $bright_color;
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}
