.about {
  padding-top: 125px;
  background-color: $section-background_color;
  background-image: url('../images/about/milk_bg_left.png'),
    url('../images/about/milk_bg_right.png');
  background-size: auto 108px;
  background-repeat: no-repeat;
  background-position: left bottom 75px, right bottom 75px;

  &__header {
    margin: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 162%;
    font-size: 12px;
    color: $paragraf_color;
    margin-bottom: 47px;
  }

  &__description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: $detail_color;
    margin-bottom: 17px;
  }

  &__img-mobile {
    margin-top: 26px;
    margin-bottom: 46px;
  }

  &__img-tablet {
    display: none;
  }

  &__img-desktop {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $hover-button_bright;
    }
  }

  &__button_icon {
    fill: none;
    stroke: $brand_color;
    margin-left: 15px;
  }

  &__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .about {
    background-image: none;
    padding-top: 130px;

    &__header {
      font-size: 14px;
      line-height: 176%;
    }

    &__description {
      font-size: 14px;
      line-height: 176%;
      letter-spacing: 0.04em;
      margin-bottom: 62px;
    }

    &__container {
      margin-top: 100px;
      display: flex;
      justify-content: center;
    }
    &__img-mobile {
      display: none;
    }
    &__img-tablet {
      margin-top: -50px;
      margin-right: 17px;
      display: block;
      min-width: 340px;
      flex-basis: calc(100% / 2);
    }

    &__text {
      flex-basis: calc(100% / 2);
      min-width: 340px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about {
    background-image: url('../images/about/milk_bg_left@x2.png'),
      url('../images/about/milk_bg_right@x2.png');
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding-top: 125px;
    background-image: url('../images/about/milk_bg_desktop_left.png'),
      url('../images/about/milk_bg_desktop_right.png');
    background-size: auto 433px;

    &__img-mobile {
      display: none;
    }

    &__container {
      margin-top: 106px;
      display: flex;
      justify-content: center;
    }

    &__header {
      letter-spacing: 0.04em;
      font-size: 16px;
      margin-bottom: 35px;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 45px;
    }

    &__text {
      flex-basis: calc(100% / 2);
      min-width: 463px;
      margin-right: 117px;
    }

    &__img-tablet {
      display: none;
    }
    &__img-desktop {
      margin-top: -47px;
      margin-right: 74px;
      display: block;
      min-width: 516px;
      flex-basis: calc(100% / 2);
    }
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about {
    background-image: url('../images/about/milk_bg_desktop_left@x2.png'),
      url('../images/about/milk_bg_desktop_right@x2.png');
  }
}
