.advantages {
  width: auto;
  padding-top: 39px;
  padding-right: 50px;
  padding-bottom: 97px;
  background-color: $section-background_color;
  &__header {
    display: none;
  }

  &__value {
    @extend .section__title;
    text-align: left;
    font-size: 36px;
  }
  &__description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: $paragraf_color;
  }

  &__list {
    list-style: none;
    margin-bottom: -38px;
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__value {
    margin-bottom: 16px;
  }

  &__item {
    padding-right: 50px;
    max-width: 230px;
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages {
    padding-top: 66px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 140px;
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__value {
      font-size: 48px;
      margin-bottom: 13px;
    }
    &__description {
      font-size: 14px;
    }
    &__item {
      min-width: 180px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 66px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 139px;
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__icon {
      margin-bottom: 40px;
    }

    &__value {
      font-size: 58px;
      margin-bottom: 15px;
    }
    &__description {
      font-size: 14px;
    }
    &__item {
      max-width: 330px;
    }
  }
}
