/* Slideshow container */
.customer-reviews {
  &__picture {
    width: 85px;
    margin: 0 auto 29px auto;
  }
  &__item {
    display: none;
  }
  &__box {
    background-color: $reviews_color;
    width: 100%;
    padding: 43px 50px 20px;
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      display: flex;
      top: 28px;
      left: 61px;
      width: 54px;
      height: 40px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-quote' width='43' height='32' viewBox='0 0 43 32' x='0' y='0'%3E%3Cpath fill='%23e1e1e1' d='M32.014 0c1.929 0 3.75 0.52 5.464 1.561s3.107 2.537 4.179 4.488c1.029 1.951 1.543 4.249 1.543 6.894s-0.643 5.225-1.929 7.74c-0.429 0.911-1.2 2.081-2.314 3.512-1.157 1.431-2.229 2.667-3.214 3.707l-4.050 4.098-2.893-4.813c2.014-1.257 3.793-2.818 5.336-4.683 1.543-1.821 2.314-3.491 2.314-5.008 0-0.78-0.171-1.409-0.514-1.886-1.5 1.084-3.171 1.626-5.014 1.626-1.329 0-2.593-0.412-3.793-1.236-1.243-0.78-2.229-1.821-2.957-3.122-0.771-1.258-1.157-2.558-1.157-3.902 0-1.518 0.45-2.97 1.35-4.358 0.857-1.388 1.993-2.515 3.407-3.382 1.371-0.824 2.786-1.236 4.243-1.236zM8.936 0c1.929 0 3.75 0.52 5.464 1.561s3.107 2.537 4.179 4.488c1.029 1.951 1.543 4.249 1.543 6.894 0 1.864-0.236 3.534-0.707 5.008-0.471 1.518-1.286 3.1-2.443 4.748-1.114 1.561-2.164 2.862-3.15 3.902-0.986 1.084-2.7 2.884-5.143 5.398l-2.893-4.813c2.014-1.257 3.793-2.818 5.336-4.683 1.543-1.821 2.314-3.491 2.314-5.008 0-0.78-0.171-1.409-0.514-1.886-1.5 1.084-3.171 1.626-5.014 1.626-1.329 0-2.593-0.412-3.793-1.236-1.243-0.78-2.229-1.821-2.957-3.122-0.771-1.258-1.157-2.558-1.157-3.902 0-1.518 0.429-2.97 1.286-4.358s1.993-2.515 3.407-3.382c1.371-0.824 2.786-1.236 4.243-1.236z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  &__text {
    color: $paragraf_color;
    font-size: 12px;
    font-weight: $medium_weight;
    line-height: 2.58;
    position: relative;
    text-align: center;
    background: repeating-linear-gradient(
      transparent,
      transparent 30px,
      $reviews-underline_color 30px,
      $reviews-underline_color 31px
    );
  }

  &__name {
    margin-top: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__dots {
    text-align: center;
  }
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-home' width='12' height='12' viewBox='0 0 32 32'%3E%3Cpath fill='%23d31342' d='M30.129 15.447c0.553-0.6 0.5-1.52-0.119-2.054l-13.636-11.77c-0.619-0.534-1.611-0.523-2.217 0.025l-13.682 12.372c-0.606 0.548-0.636 1.466-0.066 2.051l0.343 0.352c0.569 0.584 1.489 0.654 2.053 0.155l1.023-0.903v13.224c0 0.811 0.667 1.468 1.488 1.468h5.333c0.822 0 1.488-0.657 1.488-1.468v-9.252h6.803v9.252c-0.012 0.811 0.576 1.468 1.398 1.468h5.652c0.822 0 1.488-0.657 1.488-1.468v-13.038c0 0 0.282 0.244 0.631 0.546s1.078 0.060 1.631-0.541l0.388-0.42z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .customer-reviews {
    padding: 0 74px;
    &__box {
      padding: 47px 36px 28px 60px;
      margin-bottom: 24px;
    }
    &__picture {
      margin: 0 auto 19px auto;
    }
    &__name {
      margin-top: 14px;
      margin-bottom: 35px;
    }
    &__text {
      font-size: 14px;
      line-height: 2.14;
    }
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews {
    padding: 0 177px;
    &__box {
      padding: 47px 54px 32px 59px;
      margin-bottom: 15px;
    }
    &__picture {
      margin: 0 auto 15px auto;
    }
    &__name {
      margin-top: 34px;
      margin-bottom: 35px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.87;
    }
  }
}
