/* Slideshow container */
.slideshow-container {
    margin: auto;
  }
  .customer-reviews__picture {
    margin-top: 80px;
    margin-bottom: 29px;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Caption text */
  .text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    background-color: #FAFAFA;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }