.products {
    margin-bottom: 98px;
    &__undertitle {
        font-family: $brand_font;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
        color: $label_color;
        text-align: center;
        margin-top: 121px;
        margin-bottom: 15px;
    }
    &__item {
        margin-bottom: 17px;
    }
    &__pic {
        width: 100%;
        margin-bottom: -139px;
    }
    &__area {
        width: 100%;       
        border-radius: $contact_part;
        margin-bottom: 17px;
        padding-bottom: 41px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            &--icecream {
                background-color: $ice-cream_color;
            }
            &--icecoffe {
                background-color: $ice-coffe_color;
            }
            &--milkshakes {
                background-color: $milkshakes_color;
            }
    }
    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    &__label {
        font-family: $brand_font;
        font-size: 20px;
        font-weight: 400;
        color: $bright_color;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.04em;
        line-height: 1.15;
        margin-top: 90px;
    }
    &__text {
        font-family: $body_font;
        font-weight: $bold_weight;
        font-size: 14px;
        color: $bright_color;
        text-align: center;
        letter-spacing: 0.04em;
        padding: 0 44px;
    }
    &__dotline {
        @extend .dotline;
        height: 6px;
        width: 6px;
        background: $bright_color;
        margin-bottom: 30px;
                &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 10px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $bright_color;
                    }                
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 10px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $bright_color;
                    }
    }
    &__btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $bright_color;
        background: $bright_color;
        margin-top: 30px;
        cursor: pointer;
            &:hover {
                background: $hover-button_bright;
            }
    }
    &__arrow {
        height: 10px;
        width: 10px;
        fill: $brand_color;
    }
}