.products {
    margin-bottom: 98px;
    &__item {
        margin-bottom: 17px;
        margin-top: 139px;
        width: 100%;       
        border-radius: $contact_part;
        margin-bottom: 17px;
        padding-bottom: 41px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            &--icecream {
                background-color: $ice-cream_color;
            }
            &--icecoffe {
                background-color: $ice-coffe_color;
            }
            &--milkshakes {
                background-color: $milkshakes_color;
            }
    }
    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
            &--icecream {
                &::before {
                    content: "";
                    display: inline-block;
                    background-image: url("../images/products/mobile/product1-mobile-249x252-1x.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 100%;
                    min-height: 252px;
                    margin-top: -193px;
                }
            }
            &--icecoffee {
                    &::before {
                            content: "";
                            display: inline-block;
                            background-image: url("../images/products/mobile/product2-mobile-249x252-1x.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 100%;
                            min-height: 252px;
                            margin-top: -193px;
                        }
                }
            &--milkshakes {
                    &::before {
                            content: "";
                            display: inline-block;
                            background-image: url("../images/products/mobile/product3-mobile-249x252-1x.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 100%;
                            min-height: 252px;
                            margin-top: -193px;
                        }
                }
            }
    
    &__label {
        font-family: $brand_font;
        font-size: 20px;
        font-weight: 400;
        color: $bright_color;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.04em;
        line-height: 1.15;
        margin-top: 22px;
    }
    &__text {
        font-family: $body_font;
        font-weight: $bold_weight;
        font-size: 14px;
        color: $bright_color;
        text-align: center;
        letter-spacing: 0.04em;
        line-height: 1.5;
        padding: 0 44px;
    }
    &__dotline {
        @extend .dotline;
        height: 6px;
        width: 6px;
        background: $bright_color;
        margin: 30px auto;
                &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 10px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $bright_color;
                    }                
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 10px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $bright_color;
                    }
    }
    &__btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $bright_color;
        background: $bright_color;
        margin-top: 30px;
        cursor: pointer;
        transition: 250ms;
            &:hover {
                background: $hover-button_bright;
                border: 1px solid $hover-button_bright;
            }
    }
    &__arrow {
        height: 10px;
        width: 10px;
        fill: $brand_color;
    }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products {
        &__about {
            &--icecream {
                    &::before {
                        background-image: url("../images/products/mobile/product1-mobile-498x504@2x.png");
                    }
                }
            &--icecoffee {
                &::before {
                        background-image: url("../images/products/mobile/product2-mobile-498x504@2x.png");
                    }
            }
            &--milkshakes {
                &::before {
                        background-image: url("../images/products/mobile/product3-mobile-498x504@2x.png");
                    }
            }
            }
    }
}


@media(min-width: 768px) {
    .products {
        margin-bottom: 112px;
            &__list {
                display: flex;
                flex-basis: calc((100% - 40px) / 3);
            }
            &__item:not(:last-child) {
                margin-right: 20px;
            }
            &__about {
                        &--icecream {
                            &::before {
                                background-image: url("../images/products/tablet/product1-tablet-220x226-1x.png");
                                min-height: 226px;
                                margin-top: -182px;
                            }
                        }
                        &--icecoffee {
                            &::before {
                                    background-image: url("../images/products/tablet/product2-tablet-220x226-1x.png");
                                    min-height: 226px;
                                    margin-top: -182px;
                                }
                        }
                        &--milkshakes {
                            &::before {
                                    background-image: url("../images/products/tablet/product3-tablet-220x226-1x.png");
                                    min-height: 226px;
                                    margin-top: -182px;
                                }
                        }
                    }
            &__pic {
                margin-bottom: -122px;
            }
            &__text {
                line-height: 1.78;
                padding: 0 11px;
            }
    }
}

@media(min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 192dpi),
(min-width: 768px) and (min-resolution: 2dppx) {
    .products {
            &__about {
                &--icecream {
                    &::before {
                        background-image: url("../images/products/tablet/product1-tablet-440x452@2x.png");
                    }
                }
                &--icecoffee {
                    &::before {
                            background-image: url("../images/products/tablet/product2-tablet-440x452@2x.png");
                        }
                }
                &--milkshakes {
                    &::before {
                            background-image: url("../images/products/tablet/product3-tablet-440x452@2x.png");
                        }
                }
            }
        }
}

@media(min-width: 1280px) {
    .products {
        margin-bottom: 119px;
            &__item {
                flex-basis: calc((100% - 46px) /3);
                    &:not(:last-child) {
                        margin-right: 23px;
                    }
                }
                         &__about {
                             &--icecream {
                                 &::before {
                                     background-image: url("../images/products/desktop/product1-desktop-335x335-1x.png");
                                     min-height: 335px;
                                     margin-top: -290px;
                                 }
                             }
                             &--icecoffee {
                                &::before {
                                        background-image: url("../images/products/desktop/product2-desktop-335x335-1x.png");
                                        min-height: 335px;
                                        margin-top: -290px;
                                    }
                             }
                             &--milkshakes {
                                &::before {
                                        background-image: url("../images/products/desktop/product3-desktop-335x335-1x.png");
                                        min-height: 335px;
                                        margin-top: -290px;
                                    }
                             }
                         }
            &__pic {
                margin-bottom: -125px;
            }
            &__label {
                font-size: 30px;
                line-height: 1.13;
            }
            &__text {
                font-size: 16px;
                line-height: 1.75;
                padding: 0 44px;
            }
    }
}
@media(min-width: 1280px) and (min-device-pixel-ratio: 2),
(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (min-resolution: 192dpi),
(min-width: 1280px) and (min-resolution: 2dppx) {
    .products {
            &__about {
                &--icecream {
                    &::before {
                        background-image: url("../images/products/desktop/product1-desktop-670x670@2x.png");
                    }
                }
                &--icecoffee {
                    &::before {
                            background-image: url("../images/products/desktop/product2-desktop-670x670@2x.png");
                }
            }
            &--milkshakes {
                &::before {
                        background-image: url("../images/products/desktop/product3-desktop-670x670@2x.png");
                    }
            }
        }
    }
}